'.source.js':
    'ngController':
        'prefix': 'ngcontroller'
        'body': """
            (function() {
                'use strict';

                /* @ngInject */
                function ${2:Controller}() {
                    var vm = this;
                    activate();

                    function activate() {

                    }
                }

                angular
                    .module('${1:app}')
                    .service('${2:Controller}', ${2:Controller});
            })();
            """
