'.source.js':
    'ngComponent':
        'prefix': 'ngcomponent'
        'body': """
                (function() {
                    'use strict';

                    var ${1:Component} = {
                            templateUrl: '${2:templateUrl}',
                            controllerAs: 'vm',
                            controller: Controller
                    }

                      /* @ngInject */
                      function Controller(){
                            var vm = this;
                            
                            ${3}
                      }

                      angular
                            .module('app')
                            .component('${1:Component}', ${1:Component});
                })();
        """
