'.source.js':
    'ngFactory':
        'prefix': 'ngfactory'
        'body': """
            (function() {
                'use strict';

                /* @ngInject */
                function ${2:factory}() {
                    var factory = {
                        ${4:function}: ${4:function}
                    };
                    return factory;

                    function ${4:function}() {

                    }
                }

                angular
                    .module('${1:app}')
                    .factory('${2:factory}', ${2:factory});
            })();
            """
