'.source.js':
    'ngModule':
        'prefix': 'ngmodule'
        'body': """
            (function() {
                'use strict';

                angular
                    .module('${1:app}', [
                        ${2:dependencies}
                    ]);
            })();
            """
